.background-img-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh
}

.container-main {
background-color: rgba(224, 255, 255, 0.5);
    margin-top: 20px;
}