.background-img-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh
}

.background-dropdown-color {
    background-color: rgba(255, 255, 234, 1);
}

.transparent-label::after{
    background-color: transparent !important;
    border: none;
}

.container-main {
background-color: rgba(224, 255, 255, 0.5);
    margin-top: 20px;
}

.container-inputs {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.table.table-light.table-sm.text-start.small th,
.table.table-light.table-sm.text-start.small td {
font-size: 0.65rem;
        }