.background-img-style {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

a {
    text-decoration: none;
    color: inherit;
    }

.modal-button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
        }

.background-dropdown-color {
    background-color: rgba(255, 255, 234, 1);
}

.transparent-label::after{
    background-color: transparent !important;
    border: none;
}

.container-main {
background-color: rgba(224, 255, 255, 0.5);
    margin-top: 20px;
}

.container-inputs {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

    .table-sm th,
    .table-sm td{
        text-align: left;
        max-width: 250px;
    }

@media (max-width: 576px) {
    .table-responsive {
        overflow-x: auto;
    }

    .table-sm th,
    .table-sm td{
        padding: 0.3rem;
        font-size: 0.5rem;
    }

    .dropdown-list li{
    padding: 0rem;
    font-size: 0.65rem;
    display: flex;
    align-items: center;
    }

    .dropdown-list{
    width: 150px
    }

    .table-button{
    padding: 0.1rem 0.2rem;
    font-size: 0.5rem;
    line-height: 1;
    }

    .footer-tabel-button {
    padding: 0.6rem 0.4rem;
    font-size: 0.65rem;
    line-height: 1;
    margin-right: 8px
    }

    .small-button {
    padding: 0.6rem 0.4rem;
    font-size: 0.65rem;
    line-height: 1;
    margin-right: 8px
    }
}
