<div class="modal fade" id="recovery-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Account recovery</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal_summary_trip_create">

                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">

                        <form action="{% url 'recovery_endpoint' %}">
                            {% csrf_token %}

                            <div class="row justify-content-center mb-3">
                                <div class="col-12">
                                    <div class="justify-content-center form-floating">
                                        <p class="h5 text-center fs-5 fs-md-4">Enter your email address assignment to
                                            account you want to recovery.<br>We will send you a new password.</p>
                                    </div>
                                </div>

                                <div class="form-floating mb-3 mt-3">
                                    <input type="email"
                                           class="form-control"
                                           id="recovery-email-input" name="email">
                                    <label for="recovery-email-input">email</label>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-success" id="recovery-submit-button"
                                                disabled>
                                            Recovery
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>