{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip cost login</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'trip_calculator/style/common.css' %}">
</head>

<body class="background-img-style" style="background-image: url('{{ background.img_url }}');">
{% include 'trip_calculator/navigation.html' %}

{% csrf_token %}
<div id="form_content">
</div>

<main>
    <div class="container container-main border border-dark-subtle rounded">
        <div class="row">
            <div class="col-12">
                <div class="justify-content-center mt-3 mb-3">
                    <p class="h2 text-center">Here you can add new trip</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="container-inputs mb-3 border border-dark-subtle rounded"
                             style=" margin-top: 0; padding-top:0">

                            <div class="form-floating mb-2 mt-2">
                                <input type="text" class="form-control" id="trip_name" name="name">
                                <label for="trip_name">Trip name</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="date" class="form-control" id="trip_start_date" name="start_date">
                                <label for="trip_start_date">Trip start date</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="date" class="form-control" id="trip_end_date" name="start_date">
                                <label for="trip_end_date">Trip end date</label>
                            </div>

                            <div class="form-floating mb-2">
                                <textarea class="form-control" id="trip_description" style="height: 80px"></textarea>
                                <label class="transparent-label" for="trip_description">Trip
                                    description</label>
                            </div>
                            <div class="row justify-content-between">

                                <div class="col form-floating d-flex justify-content-start">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Add friends
                                        </button>
                                        <ul class="dropdown-menu background-dropdown-color" id="trip-squad-checkbox"
                                            aria-labelledby="dropdownMenuButton" style="maxWidth: 250px; white-space: nowrap; maxHeight: 400px; overflow-y: auto; ">

                                            {% for person in person %}
                                            <li class="ps-2 pe-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ person.user_id }}"
                                                           id="friend-checkbox-{{ forloop.counter }}">
                                                    <label class="form-check-label"
                                                           for="friend-checkbox-{{ forloop.counter }}" data-value ="{{ person.name }} {{ person.lastname }}" >
                                                        {{ person.name }} {{ person.lastname }}
                                                    </label>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col form-floating  d-flex justify-content-end">
                                    <button type="button" class="btn btn-success" id="create-trip" disabled>Create</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="container-inputs mb-2 border border-dark-subtle rounded" id="trip-overall">

                            <div class="form-floating">
                                <p class="h6" id="trip-overall-name">Trip name:</p>
                                <p class="h6" id="trip-overall-start">Trip date:</p>
                                <p class="h6" id="trip-overall-description">Trip description:</p>
                                <p class="h6" id="trip-overall-squad">Trip squad:</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>


<script src="{% static 'trip_calculator/js/create_trip.js' %}"></script>


</html>