<div class="table-container" id="main-account-table" style="display: none">
    <table class="table table-sm text-start small table-borderless rounded-2">
        <thead class="border-bottom border-info">
        <tr>
            <th colspan="4">
                Account
            <button type="button" class="btn btn-primary btn-sm table-button ms-2" data-bs-toggle="modal" id="edit-account-button"
                                    data-bs-target="#account-common-edit-modal">Edit account</button>
            </th>
        </tr>

        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email address</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="col">{{ user.name }}</td>
            <td scope="col">{{ user.lastname }}</td>
            <td scope="col">{{ user.email }}</td>
            <td scope="col">{{ user.added }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% include 'trip_calculator/home_table/account_edit_modal.html' %}