<div class="modal fade" id="cost-status-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update payment status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">

                        <form action="{% url 'edit_cost_endpoint' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="status">
                            <input type="hidden" id="cost-status-modal-input-user_id" name="user_id" value="">
                            <input type="hidden" id="cost-status-modal-input-cost-id" name="cost_id" value="">
                            <input type="hidden" id="cost-status-modal-input-trip-id" name="trip_id" value="">
                            <div class="row justify-content-center mb-3">
                                <div class="col-12 text-center">
                                    <div class="form-floating">
                                        <p class="h5 fs-5 fs-md-4" id="cost-status-modal-text"></p>

                                        <div class="btn-group p-3" role="group"
                                             aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="payment" value="True"
                                                   id="btnradio1" autocomplete="off" checked>
                                            <label class="btn btn-outline-success" for="btnradio1">Yes</label>

                                            <input type="radio" class="btn-check" name="payment" value="False"
                                                   id="btnradio2" autocomplete="off">
                                            <label class="btn btn-outline-danger" for="btnradio2">No</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                            <div class="d-flex gap-3 justify-content-between pt-3">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-primary btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#loading-modal">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cost-remove-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Remove cost</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">

                        <form action="{% url 'edit_cost_endpoint' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" id="cost-remove-modal-input-cost-id" name="cost_id" value="">
                            <input type="hidden" id="cost-remove-modal-input-trip-id" name="trip_id" value="">
                            <div class="row justify-content-center mb-3">
                                <div class="col-12 text-center">
                                    <div class="form-floating">
                                        <p class="h5 fs-5 fs-md-4" id="cost-remove-modal-text"></p>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                            <div class="d-flex gap-3 justify-content-between pt-3">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-danger btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#loading-modal">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cost-update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update payment status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">

                        <form action="{% url 'edit_cost_endpoint' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="update">
                            <input type="hidden" id="cost-update-modal-input-cost-id" name="cost_id" value="">
                            <input type="hidden" id="cost-update-modal-input-trip-id" name="trip_id" value="">
                            <div class="row justify-content-center mb-3">
                                <div class="col-12 text-center">
                                    <div class="form-floating">
                                        <p class="h5 fs-5 fs-md-4" id="cost-update-modal-text"></p>

                                        <div class="row mb-2 mt-2">
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control small-input" step="0.01" min="0"
                                                       name="value" id="cost-update-modal-input-value">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                            <div class="d-flex gap-3 justify-content-between pt-3">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-primary btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#loading-modal">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cost-title-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update payment status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row justify-content-center align-items-center">

                        <form action="{% url 'edit_cost_endpoint' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="title">
                            <input type="hidden" id="cost-title-modal-input-cost-id" name="cost_id" value="">
                            <input type="hidden" id="cost-title-modal-input-trip-id" name="trip_id" value="">
                            <div class="row justify-content-center mb-3">
                                <div class="col-12 text-center">
                                    <div class="form-floating">
                                        <p class="h5 fs-5 fs-md-4" id="cost-title-modal-text"></p>

                                        <div class="row mb-2 mt-2">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control small-input"
                                                       name="name" id="cost-title-modal-input-value">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                            <div class="d-flex gap-3 justify-content-between pt-3">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-primary btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#loading-modal">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>