{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip cost login</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'trip_calculator/style/common.css' %}">
</head>

<style>
    .central-container {
        height: 500px;
    }

    form {
        margin: 20px;
    }

    .form-floating>label {
        margin-left: 10px
    }
</style>


<body class="background-img-style" style="background-image: url('{{ background.img_url }}');">
<div class="container">
    <div class="row central-container justify-content-center align-items-center">

        <div class="col-10 col-md-6  border border-dark-subtle rounded border-2 container-main">

            <form id="registration-form">
                {% csrf_token %}

                <div class="row justify-content-center mb-3">
                    <div class="col-12">
                        <div class="justify-content-center form-floating">
                            <p class="h5 text-center fs-5 fs-md-4">After registration, your login and password will be
                                sent to the provided e-mail address</p>
                        </div>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <input type="text"
                               class="form-control"
                               id="firstname-input" name="firstname">
                        <label for="firstname-input">Firstname</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               id="lastname-input" name="lastname">
                        <label for="lastname-input">Lastname</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email"
                                class="form-control {% if registration.error %} border-danger rounded border-2 {% endif %}"
                               id="email-input" name="email">
                        <label for="email-input">Email</label>
                    </div>

                    {% if registration.error %}
                    <div class="col-12 mb-3">
                        <div class="justify-content-center form-floating">
                            <p class="h6 text-center" style="color: red;">This email is in use</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success" id="registration-button"
                                            data-bs-toggle="modal" data-bs-target="#loading-modal" disabled>
                                        Registration
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-primary" href="{% url 'login_view' %}">Back to login</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                                <div class="d-grid gap-2">
                                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="recovery-account-button"
                                            data-bs-target="#recovery-modal">
                                        Recovery
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
{% include 'trip_calculator/account_recovery.html' %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

<script src="{% static 'trip_calculator/js/login_registration.js' %}"></script>


</html>